* {
    font-family: 'Plus Jakarta Sans';
}

.new-contact {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 16px 24px;
    position: sticky;
}

.text-styles {
    color: rgb(42, 53, 71);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.4375em;
}

.field-styles {
    color: rgb(42, 53, 71);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.4375em;
}